nav{
    background-color:white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.465);
    padding: 3rem;
}

nav a{
    font: 600 1.5rem cursive;
    color: rgb(16, 72, 239);
    text-decoration: none;
    margin: 0 1rem;
}

